/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto; /* Cambiado a 'auto' para permitir desplazamiento vertical */
}

.top-bar {
    background-color: #32a983;
    color: #fff;
    padding: 5px;
    text-align: right;
}

.social-media {
    margin-right: 20px;
}

.social-icon {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.main-header {
    background-color: #585858;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    text-transform: uppercase;
}

.main-header a {
    font-family: 'Roboto', sans-serif; /* Establecer el estilo de letra a Roboto */
    color: #fff; /* Color de letra blanco por defecto */
    text-decoration: none;
    transition: color 0.3s; /* Transición de color durante 0.3 segundos */
}

.main-header a:hover {
    color: #32a983; /* Cambiar el color al pasar el ratón */
}

.logo img {
    max-width: 200px;
    max-height: 120px;
    margin-right: 10px; /* Añadir un margen derecho al logo */
}

nav ul {
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icon img {
    width: 20px; /* Ajusta este valor según el tamaño deseado */
    height: auto;
}

/* Estilos para los submenús */
.submenu {
    display: none;
    position: absolute;
    background-color: #0303039d;
    min-width: 120px;
    z-index: 1;
}

.submenu a {
    padding: 10px 15px;
    display: block;
    color: #ddd;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #ddd;
}

/* Mostrar submenú cuando el hover se encuentra en el elemento o en su descendencia */
.has-submenu:hover .submenu,
.submenu:hover {
    display: block;
}

/* Estilos para el icono de login */
.login-icon {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; /* Alinear verticalmente con el texto del menú */
}

.login-icon img {
    width: 30px; /* Reducir el tamaño del icono */
    height: auto;
}

/* Estilos para el menú */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; /* Alinear verticalmente con el icono de login */
}

/* Estilos para la sección 'header-orrialde-tituloa' */
.header-orrialde-tituloa {
    background-image: url('https://www.gisaski.eus/site/contenido/media/header-page.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
    text-align: center;
    position: relative;
}

.header-orrialde-tituloa:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
